/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/


body {
margin: 0 10 0 10;
padding: 0;
background-color: #f5f5f5;
font-family: 'Merriweather', serif;
font-size: 16px;
line-height: 1.6;
}

.text {
 margin-left: 10px;
}

.nadpisy {
font-family: Raleway;
font-size: 20px;
margin-left: 10px;
font-size: 16px;
}

.nadpisy::after {
content: " ";
display: block;
width: 180px;
height: 6px;
background-color:rgb(51, 136, 210);
margin-bottom: 20px;
}

.perex::after {
content: " ";
display: block;
width: 120px;
height: 3px;
background-color: whitesmoke;
margin: auto;
margin-top: 20px;
opacity: 0.5;
}

.popisek {
text-align:center;
color: grey; 
text-decoration: none;
text-align: center;
}

.popisekfoto {
color: grey;
text-align: center;
font-size: 10px;
}

a:link{
color: grey;
text-decoration:none;
}

a:visited{
color: grey;
}

.Co-videt2{
padding-top: 20px;
}

/* HLAVICKA */

.hlavicka {
    text-align: center;
    font-family: raleway, white;
    background-image: url("images/island-hlavicka.jpg");
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 10px;

}

.titulek {
    font-family: 'Raleway', serif; 
    color: white;
    text-align:center;
    font-size: 40px;
}

.perex {
    text-align:center;
    color: white;
    padding-left:40px;
    padding-right: 20px;
    font-size: 18px;
}

.autor {
    font-style: italic;
    color: whitesmoke;
    opacity: 70%;
}


/* MENU */

.menu {
    color: darkgrey;
    font-family: 'Raleway', serif; 
    text-transform:uppercase;
    list-style-type: none;
    text-align:center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.p {
    margin-left: 10px;
}


/* FOTOGALERIE */

.popisek-copy {
color:grey;
text-align: left;
font-size: 10px;
}

.popisek-galerie{
color:grey;
text-align: left;
font-size: 10px;
}

/* PATICKA */

.paticka {
background-color: lightgray;
color: grey;
font-size: 10px;
padding: 10px 10px 10px 10px;

}

/* MOBIL */
@media (max-width:500px){

.body{
margin:0;
}

.obrazky img{
width: 100%;
height: auto;
display: block;
}

.paticka {
box-shadow: inset darkgrey 4px 6px 20px;
}

.nadpisy::after {
margin-left: -25px;
}

a:link{
color: grey;
text-decoration:none;
}

.popisek-galerie {
display: block;
text-align: center;
}
}

/* TABLET */

@media only screen and (min-width:500px) and (max-width:1000px){

.body {
margin: 0px;
}

/* HLAVICKA - TABLET */
.hlavicka {
background-image:radial-gradient(circle, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/island-hlavicka.jpg");
background-size: cover;
}

/* MENU - TABLET */
.menu {
display:flex;
flex-direction: row;
justify-content: space-between;
margin: 20px 20px 20px 20px;
font-size: 13px;
}
    
 .polozky{
border-top: 1px lightgray solid;
border-bottom: 1px lightgray solid;
padding-left: 15px;
padding-right: 15px;
}

/* OBSAH - TABLET */

.obrazky {
max-width: 1000px;
}

.obrazky img{
width: 100%;
display: block;
position: relative;
}

.popisekfoto {
color: white;
margin-left: 300px;
margin-top: -40px;
position: absolute;
}

a:link {
color: grey;
}

#odkazyobrazky a:link {
color: white;
}

/* FOTOGALERIE - TABLET */

.galerie {
display:flex;
flex-direction:row;
flex-wrap: wrap;
}

.foto{
width: 100%;
display: block;
position: relative;
overflow: hidden;
flex-basis: 50%;
}

.foto img{
width: 100%;
flex-basis: 45%;
display: block;
flex-shrink: 1;
}

.popisek-galerie {
display:none;
}

.popisek-copy {
display: none;
}

/* PATIČKA - TABLET */

.paticka{
margin-top: -16px;
box-shadow: inset darkgrey 4px 6px 20px;
}
}

/* PC */

.body {
margin:0;
}

/*HLAVICKA-PC*/


@media only screen and (min-width:1000px){

.hlavicka{
background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/island-hlavicka.jpg");
background-size: cover;
height:auto;
text-align: center;
padding-left: 300px;
padding-right: 300px;
filter: brightness (10%);
padding-bottom: 200px;
display:block;
}

.body{
background-color: white;
border: solid 1px grey;
display:block;
}

/*MENU-PC*/

.uvodni-sekce {
display:flex;
align-self:stretch;
padding-top: 60px;
margin:auto;
margin-top: -100px;
background-color: white;
padding-bottom: 60px;
padding-right: 30px;
max-width: 960px;
box-shadow: -5px 0 5px -5px rgb(179, 179, 179), 5px 0 5px -5px rgb(207, 206, 206);

}

.menu {
flex-grow: 1;
flex-shrink: 1;
flex-basis: 500px;
text-align: left;
margin-right: 100px;
}

.polozky{
border-top: 1px lightgray solid;
}

#menu a:link{
color: grey;
}

/*HLAVNÍ TEXT - PC*/

.obrazky img{
width: 100%;
display:block;
max-width: 960px;
box-shadow: -5px 0 5px -5px rgb(179, 179, 179), 5px 0 5px -5px rgb(207, 206, 206);
}

.nadpisy::after {
content: " ";
display: block;
width: 180px;
height: 6px;
background-color:rgb(51, 136, 210);
margin-bottom: 20px;
margin-left: -10px;
}

.obrazky {
margin: auto;
display:block;
position: relative;
max-width: 960px;
}

.popisekfoto {
margin-top: -45px;
position: relative;
color: white;
max-width: 960px;
text-align: right;
}

#odkazyobrazky a:link {
color: white;
}

.Proc-jet {
margin: auto;
margin-top: -20px;
background-color: white;
padding-top: 20px;
padding-left:30px;
padding-bottom:30px;
padding-right: 300px;
display:block;
max-width: 960px;
box-shadow: -5px 0 5px -5px rgb(179, 179, 179), 5px 0 5px -5px rgb(207, 206, 206);
}

.Co-videt1 {
margin: auto;
margin-top: -20px;
background-color: white;
padding-top: 20px;
padding-left:250px;
padding-bottom:30px;
padding-right: 300px;
display:block;
max-width: 960px;
box-shadow: -5px 0 5px -5px rgb(179, 179, 179), 5px 0 5px -5px rgb(207, 206, 206);
}

.Co-videt2 {
margin: auto;
margin-top: -20px;
background-color: white;
padding-top: 30px;
padding-left:250px;
padding-bottom:30px;
padding-right: 200px;
display:block;
max-width: 960px;
box-shadow: -5px 0 5px -5px rgb(179, 179, 179), 5px 0 5px -5px rgb(207, 206, 206);
} 

/*FOTOGALEIRE - PC*/

.Fotogalerie-nadpis {
background-color: white;
padding-bottom: 20px;
margin: auto;
margin-top:-30px;
display:block;
max-width: 960px;
box-shadow: -5px 0 5px -5px rgb(179, 179, 179), 5px 0 5px -5px rgb(207, 206, 206);
}

.galerie {
display:flex;
flex-direction:row;
flex-wrap: wrap;
max-width: 960px;
margin: auto;
box-shadow: -5px 0 5px -5px rgb(179, 179, 179), 5px 0 5px -5px rgb(207, 206, 206);
}

.foto{
width: 100%;
display: block;
position: relative;
overflow: hidden;
flex-basis: 33.33%;
}
    
.foto img{
width: 100%;
display: block;
position: relative;
overflow: hidden;
flex-basis: 33%;
}

.foto img:hover {
transform: scaleX(1.1);
transform: scaleY(1.1);
}
    
.foto:hover .popisek-galerie {
transform:translateY(-100%);
}

.popisek-galerie {
color: white;
width: 100%;
margin-top: 0px;
padding-top: 5px;
padding-left: 10px;
background-color: rgba(0, 0, 0, 0.7);
position: absolute;
transition: 0.3s;
font-size: 10px;
}

.popisek-copy {
color: white;
}

a:link {
color: white;
}
    
/*PATICKA-PC*/

.paticka {
background-color: transparent;
display:block;
margin: auto;
max-width: 960px;
}

#odkazy-paticka a:link{
    color: grey;
    }
}